<launch>	
 	<node pkg="ORB_SLAM2" type="RGBD" name="RGBD"  args="/your/path/to/ORB_SLAM2/Vocabulary/ORBvoc.txt /your/path/to/ORB_SLAM2/Setting/SETTING.yaml" cwd="node" output="screen">
         <remap from="/camera/rgb/image_raw" to="/camera/rgb/image_raw" />
         <remap from="/camera/depth_registered/image_raw" to="/camera/depth/image_raw" />
   </node>

</launch>
